In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# playing with dataframe

df = pd.DataFrame(np.arange(0,20).reshape(5,4) , index = ['ROW1', 'ROW2', 'ROW3', 'ROW4', 'ROW5'], columns = ['Column1', 'Column2', 'Column3', 'Column4'])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
ROW1        0        1        2        3
ROW2        4        5        6        7
ROW3        8        9       10       11
ROW4       12       13       14       15
ROW5       16       17       18       19

In [5]:
# accessing the elements
df.loc['ROW1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: ROW1, dtype: int32

In [6]:
type(df.loc['ROW1'])

pandas.core.series.Series

In [7]:
# playing with iloc
df.iloc[0:2, 0:2]

      Column1  Column2
ROW1        0        1
ROW2        4        5

In [8]:
type(df.iloc[0:2, 0:2])  # dataframe

pandas.core.frame.DataFrame

In [11]:
df.loc['ROW1'] # DATASERIES

Column1    0
Column2    1
Column3    2
Column4    3
Name: ROW1, dtype: int32

In [12]:
type(df.loc['ROW1'])  # dataseries

pandas.core.series.Series

In [14]:
df.iloc[:, 1:].values  # dataframe conversion into arrays

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [15]:
df.head()

      Column1  Column2  Column3  Column4
ROW1        0        1        2        3
ROW2        4        5        6        7
ROW3        8        9       10       11
ROW4       12       13       14       15
ROW5       16       17       18       19

In [16]:
df['Column1'].value_counts

<bound method IndexOpsMixin.value_counts of ROW1     0
ROW2     4
ROW3     8
ROW4    12
ROW5    16
Name: Column1, dtype: int32>