In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
# playing with dataframe

df = pd.DataFrame(np.arange(0,20).reshape(5,4) , index = ['ROW1', 'ROW2', 'ROW3', 'ROW4', 'ROW5'], columns = ['Column1', 'Column2', 'Column3', 'Column4'])

In [6]:
df.head()

      Column1  Column2  Column3  Column4
ROW1        0        1        2        3
ROW2        4        5        6        7
ROW3        8        9       10       11
ROW4       12       13       14       15
ROW5       16       17       18       19

In [7]:
# converting the given dataframe to .csv file

df.to_csv('Test1.csv')

In [9]:
# Accessing the elements using .loc and .iloc

df.loc['ROW1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: ROW1, dtype: int32

In [11]:
# checking the type
type(df.loc['ROW1'])   # this returns pandas.core.series.series

pandas.core.series.Series